aioboto3==11.3.0
aiobotocore==2.6.0
aiohttp==3.9.0
aioitertools==0.11.0
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
aiostream==0.5.2
altair==5.0.1
annotated-types==0.5.0
anyio==3.7.1
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
arrow==1.3.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backoff==2.2.1
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
binaryornot==0.4.4
bleach==6.0.0
blis==0.7.11
bokeh==3.2.2
boto3==1.28.17
botocore==1.31.17
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1687884021435/work
build==1.0.3
cachetools==5.3.1
catalogue==2.0.10
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
chroma-hnswlib==0.7.2
chromadb==0.4.6
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
cloudpathlib==0.16.0
cohere==4.32
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
confection==0.1.3
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1686733806710/work
cookiecutter==2.4.0
cryptography==41.0.4
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem==2.0.8
da-core-news-md @ https://github.com/explosion/spacy-models/releases/download/da_core_news_md-3.7.0/da_core_news_md-3.7.0-py3-none-any.whl#sha256=2352b3ac4865e0b55e899551e22665865bdd9cbac3ecdda66a81d37ddc95ee5d
da-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/da_core_news_sm-3.7.0/da_core_news_sm-3.7.0-py3-none-any.whl#sha256=7569255bcdc70d37cf408539ae46505da2f6078f2f032ba0f827cf9a3fa695ff
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
dataclasses-json==0.5.14
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1694551397342/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1691021232554/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deeplake==3.8.6
Deprecated==1.2.14
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1690101045195/work
distro==1.8.0
docarray==0.37.0
docker-pycreds==0.4.0
docx2txt==0.8
emoji==2.8.0
entrypoints==0.4
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
evalutils==0.4.2
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1692026125334/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fastapi==0.99.1
fastavro==1.8.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1686612785345/work
filetype==1.2.0
flatbuffers==23.5.26
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1691006576669/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1689244381664/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1686342280219/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1669279893622/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1689017552161/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1666808665953/work
google-api-core==2.12.0
google-api-python-client==2.103.0
google-auth==2.23.2
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.60.0
greenlet==2.0.2
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
httpcore==1.0.1
httplib2==0.22.0
httptools==0.6.0
httpx==0.25.1
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1695757136602/work
humanfriendly==10.0
humbug==0.3.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imageio==2.31.6
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources==6.0.1
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1691424382338/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1685727741709/work
ipywidgets==8.1.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1690896916983/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath==1.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter-bokeh==2.0.2
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1687700988094/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1686775603054/work
jupyterlab-widgets==3.0.8
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1666805746048/work
langchain==0.0.320
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.49
libdeeplake==0.0.89
linkify-it-py==2.0.2
llama-index==0.9.4
lxml==4.9.3
lz4==4.3.2
Markdown==3.4.4
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1685769042879/work
marshmallow==3.20.1
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1688684873414/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdit-py-plugins==0.4.0
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
monotonic==1.6
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1672339405744/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1695458855323/work
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions==1.0.0
nest-asyncio==1.5.8
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1672696305909/work
numcodecs==0.11.0
numexpr==2.8.5
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1691056235090/work
oauth2client==4.1.3
oauthlib==3.2.2
onnxruntime==1.15.1
openai==1.1.1
openapi-schema-pydantic==1.2.4
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1682610799287/work
orjson==3.9.5
outcome @ file:///home/conda/feedstock_root/build_artifacts/outcome_1655217710638/work
overrides==7.4.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1688740512823/work
pandas-stubs @ file:///home/conda/feedstock_root/build_artifacts/pandas-stubs_1692034042688/work
panel==1.2.1
param==1.13.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathos==0.3.1
pathtools==0.1.2
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1675487189013/work
pip-tools==7.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1690813113769/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1692220561510/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
posthog==3.0.2
pox==0.3.3
ppft==1.7.6.7
preshed==3.0.9
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work
promptlayer==0.3.6
protobuf==4.23.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1681775010077/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pulsar-client==3.2.0
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.12
pydantic_core==2.6.0
PyDrive2==1.17.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1691408637400/work
PyJWT==2.8.0
pyOpenSSL==23.2.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pypdf @ file:///home/conda/feedstock_root/build_artifacts/pypdf-split_1695589880351/work/dist
PyPDF2 @ file:///home/conda/feedstock_root/build_artifacts/pypdf2_1667024492624/work
PyPika==0.48.9
pyproject_hooks==1.0.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==1.0.0
python-iso639==2023.6.15
python-magic==0.4.27
python-slugify==8.0.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
pyviz_comms==3.0.0
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1666772382226/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1691667449117/work
rapidfuzz==3.4.0
referencing==0.30.2
regex==2023.8.8
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-oauthlib==1.3.1
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1690807641695/work/dist
rpds-py==0.9.2
rsa==4.9
s3transfer==0.6.2
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1651557636210/work
safetensors @ file:///home/conda/feedstock_root/build_artifacts/safetensors_1695444459071/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1688116542774/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1687995550978/work/base/dist/scipy-1.11.1-cp311-cp311-linux_x86_64.whl#sha256=c0479f8a06a309e2c519a2da071412cb0e8b44464ffedffd29c463a7fcdabfa4
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1696262444380/work
selenium @ file:///home/conda/feedstock_root/build_artifacts/selenium_1696010260379/work
sentence-transformers @ file:///home/conda/feedstock_root/build_artifacts/sentence-transformers_1656297135090/work
sentencepiece @ file:///home/conda/feedstock_root/build_artifacts/sentencepiece-split_1688235487348/work/python
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1690909457528/work
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1666817151753/work
SimpleITK==2.3.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==6.4.0
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.20
srsly==2.4.8
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.27.0
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1696548154836/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
tabulate==0.9.0
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1692026804430/work
text-unidecode==1.3
thinc==8.2.1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
tifffile==2023.9.26
tiktoken==0.4.0
tokenizers @ file:///home/conda/feedstock_root/build_artifacts/tokenizers_1680703522520/work/bindings/python
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1692311768944/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1695849014628/work
trio @ file:///home/conda/feedstock_root/build_artifacts/trio_1696378305852/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/trio-websocket_1695816857197/work/dist
typer==0.9.0
types-python-dateutil==2.8.19.14
types-pytz @ file:///home/conda/feedstock_root/build_artifacts/types-pytz_1691969652633/work
types-requests==2.31.0.2
types-urllib3==1.26.25.14
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
uc-micro-py==1.0.2
unstructured==0.10.20
uritemplate==4.1.1
urllib3==1.26.17
uvicorn==0.23.2
uvloop==0.17.0
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1691027899301/work
wasabi==1.1.2
watchfiles==0.19.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
weasel==0.3.4
webencodings==0.5.1
websockets==11.0.3
widgetsnbextension==4.0.8
wikipedia==1.4.0
wrapt==1.15.0
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1661356345548/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1696486324777/work
xyzservices==2023.7.0
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1685191769397/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work
